<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devour}}DEVOUR!{{else}}EAT AGAIN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
